body {

font-family: arial;
background:#333;
color:#ddd;

}

audio {
margin-top:20px;
width:400px;
}

.input {
width:120px;
height:26px;
border:1px solid #333;
background:#666;
color:#ddd;
border-radius:4px;
padding-left:4px;
}



#playlist ul li {
padding:3px 0px;
width:350px
}

#playlist ul li:hover {

background:#777;

}

.playing {
background:#999;
}

